<% include ../pages/header %>

<div class="ui comments">
  <div class="comment">
    <a class="avatar" href="/message/<%= message.id %>">
      <img src="https://randomuser.me/api/portraits/lego/7.jpg" width="35">
    </a>
    <div class="content">
      <div class="metadata">
        <div class="date">
          <%= message.created_at.fromNow() %>
        </div>
      </div>
      <div class="text"><%= message.content %></div>
    </div>
  </div>
</div>

<% include ../pages/footer %>